PyQt6==6.11.0
umap-learn==0.5.12
hdbscan==0.8.42
ruff==0.15.12
pre-commit==4.6.0
setuptools<82

#Sam3
einops
triton-windows
pycocotools
timm
opencv-python==4.10.0.84
matplotlib
pandas
scikit-image
tifffile==2024.8.30
numpy==1.26.4
scikit-learn
psutil
requests
utils
